<form class="donateForm" (ngSubmit)="onSubmit(amount.value)" #donateForm="ngForm">

  <progress class="progress" value="{{progress.raised}}" max="{{progress.goal}}"></progress>

  <div class="details">
    <p><span class="highlight">Only 3 days left</span> to fund this project.</p>
    <p>Join the {{ donors}} other donors who have already supported this project. Every dollar helps.</p>

    <div class="form-group">
      <label for="amount" class="visuallyHidden">Amount</label>
      <i class="icon">$</i>
      <input type="text" class="form-control" id="amount" required [(ngModel)]="model.amount" name="amount" #amount="ngModel">
      <button type="submit" class="btn" [disabled]="!donateForm.form.valid">Give Now</button>
    </div>
    <a href="#">Why you should donate</a>
  </div>

  <div class="controls">
    <button type="button" class="btn" (click)="onSave(amount.value)">Save for later</button>
    <button type="button" class="btn">Tell your friends</button>
  </div>

</form>
